.banner_inicio{
    width: 100%;
    height: 730px;
}

.card1 {
    width: 100%;
    height: 730px;
    background-image: url(../img/agentes+banner.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card2 {
    width: 100%;
    height: 730px;
    background-color: red;
}

.card3 {
    width: 100%;
    height: 730px;
    background-color: blueviolet;
}

.alinhamento_banner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.setas_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.seta_anterior {
    width: 3.5%;
    height: 65px;
    border-radius: 50px;
    background-color: #1d2d4400;
    border: none;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
}

.seta_proximo {
    width: 3.5%;
    height: 65px;
    border-radius: 50px;
    background-color: #1d2d4400;
    border: none;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
}

.bolinhas_banner {
    position: absolute;
    top: 85%;
    left: 49%;
}

.seta_anterior:hover,
.seta_proximo:hover {
    width: 3.5%;
    height: 65px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgba(128, 128, 128, 0.589);
    border: none;
    transition: all 0.25s ease-in;
}

.txt_banner {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.titulo_banner {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.descricao_banner {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 24px;
    margin-bottom: 65px;
}

.btn_banner {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.btn_cadastro {
    width: 35.7%;
    height: 5.4vh;
    padding: 10px;
    border: none;
    margin-bottom: 12px;
    border-radius: 16px;
    background-color: #EF233C;
    color: white;
    font-size: 24px;
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .third {
    border-color: #EF233C;
    color: #fff;
    box-shadow: 0 0 40px 40px #EF233C inset, 0 0 0 0 #EF233C;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #EF233C inset, 0 0 10px 4px #EF233C;
  } */

.btn_login {
    width: 35.7%;
    height: 5.4vh;
    border: 5px solid #EF233C;
    margin-bottom: 12px;
    border-radius: 16px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao_noticias {
    background-color: #CBDBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2_noticias {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    padding: 15px 0 35px;
}

.secao_artigos {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    padding-left: 7%;
}

.secao_artigos>a {
    width: 23%;
    display: flex;
    justify-content: space-around;
}

.artigo {
    width: 100%;
    padding-bottom: 20px;
    margin: 25px;
    border-radius: 5px;
    background-color: transparent;
}

.artigo>img {
    width: 100%;
    margin-bottom: 18px;
    border-radius: 5px 5px 0 0;
}

.artigo>h3 {
    width: 100%;
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
    padding-left: 5px;
}

.artigo>p {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: black;
    padding-left: 5px;
}

.artigo:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.363);
    transition: 0.25s;
    transform: scale(1.08);
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    position: relative;
    width: 50%;
    max-width: 90%;
    max-height: 350px;
    background: #053C5E;
    padding: 1em 2em;
    overflow: auto;
}

.modal__content::-webkit-scrollbar {
    width: 12px;
}

.modal__content::-webkit-scrollbar-track {
    background: #053C5E;
}

.modal__content::-webkit-scrollbar-thumb {
    background-color: #CBDBEB;
    border-radius: 25px;
    border: 3px solid #053C5E;
}

.modal__content>img {
    width: 40%;
    max-height: 240px;
    border-radius: 5px;
}

.txt_modal {
    width: 55%;
}

.txt_modal>h2 {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-bottom: 18px;
}

.txt_modal>h3 {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-bottom: 18px;
}

.txt_modal>p {
    font-family: 'Tomorrow', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    padding-left: 5px;
    margin-bottom: 18px;
}

.modal__close {
    position: absolute;
    top: 28%;
    right: 23.5%;
    font-size: 20px;
    color: #EF233C;
}

.btn_ver_mais {
    color: #EF233C;
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 22px;
    width: 120px;
    background-color: transparent;
    border: none;
    margin-bottom: 60px;
    margin-top: 45px;
}

.btn_ver_mais:hover {
    color: #cf182e;
    transition: 0.25s;
    transform: scale(1.05);
}

@media screen and (max-width: 1536px) {
    .card1 {
        height: 635px;
        background-image: url(../img/img_banner1536.png);
    }
    .alinhamento_banner {
        margin-right: 6%;
    }
    .card2 {
        height: 635px;
    }
    .card3 {
        height: 635px;
    }
    .txt_banner {
        width: 37%;
    }
    .titulo_banner {
        font-size: 68px;
        margin-bottom: 30px;
    }
    .descricao_banner {
        font-size: 20px;
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 1440px) {
    .card1 {
        height: 595px;
        background-image: url(../img/img_banner1440.png);
    }
    .card2 {
        height: 595px;
    }
    .card3 {
        height: 595px;
    }
}

@media screen and (max-width: 1366px) {
    .card1 {
        height: 565px;
    }
    .card2 {
        height: 565px;
    }
    .card3 {
        height: 565px;
    }
}

@media screen and (max-width: 1280px) {
    .card1 {
        height: 530px;
    }
    .card2 {
        height: 530px;
    }
    .card3 {
        height: 530px;
    }
    .btn_cadastro {
        font-size: 20px;
    }
    .btn_login {
        font-size: 20px;
    }
    .titulo_banner {
        font-size: 60px;
    }
    .descricao_banner {
        font-size: 18px;
    }
}

@media screen and (max-width: 414px) {
    .card1 {
        height: 715px;
        background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/img_banner_celular1.png);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }

    .titulo_banner{
        display: none;
    }

    .txt_banner{
        width: 85%;
        height: 100px;
        justify-content: center;
        /* background-color: #cf182e; */
    }

    .descricao_banner{
        font-size: 14px;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 35px;
        margin-right: 30px;
        /* background-color: #CBDBEB; */
    }

    .btn_banner{
        /* background-color: #cf182e; */
        height: 50px;
        margin-bottom: 80px;
        justify-content: center;
    }

    .btn_cadastro{
        width: 35%;
        height: 4vh;
        font-size: 15px;
    }

    .btn_login{
        width: 35%;
        height: 4vh;
        font-size: 15px;
    }


    .card2 {
        height: 715px;
        background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/img_banner_celular1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card2 > img{
        display: none;
    }

    .card3 {
        height: 715px;
        background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/img_banner_celular1.png);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    .card3 > img{
        display: none;
    }

    .secao_artigos{
        display: none ;
    }

    .secao_noticias{
        height: 72vh;
    }

    .artigo:hover {
        box-shadow: none;
        transition: none;
        transform: none;
    }

    .modal__content{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .modal__content>img {
        width: 100%;
        max-height: 240px;
        border-radius: 5px;
    }
    
    .txt_modal {
        width: 100%;
    }

    .modal__close {
        top: 31%;
        right: 88.5%;
    }

    .btn_ver_mais{
        margin-top: 10px;
    }
}

@media screen and (max-width: 375px){

    .seta_proximo, .seta_anterior{
        top: 45%;
        width: 3.5%;
        height: 65px;
        font-size: 12px;
        margin: 0 15px 0 15px;
    }


    .bolinhas_banner{
        top: 85%;
        left: 44%;
    }

    .card1 {
        height: 535px;
    }
    .card2 {
        height: 535px;
    }
    .card3 {
        height: 535px;
    }

    .secao_noticias{
        height: 85vh;
    }

    .btn_ver_mais{
        margin-top: 20px;
        margin-left: 25px;
    }

    .modal__close {
        top: 24.5%;
        right: 88.5%;
    }
}

@media screen and (max-height: 896px){
    .bolinhas_banner{
        top: 85%;
        left: 44%;
    }

    .seta_proximo, .seta_anterior{
        top: 45%;
        width: 3.5%;
        height: 65px;
        font-size: 12px;
        margin: 0 15px 0 15px;
    }

}

@media screen and (max-height: 812px){
    .seta_proximo, .seta_anterior{
        top: 45%;
        width: 3.5%;
        height: 65px;
        font-size: 12px;
        margin: 0 15px 0 15px;
    }

    .bolinhas_banner{
        top: 79%;
        left: 44%;
    }

    .card1 {
        height: 600px;
    }
    .card2 {
        height: 600px;
    }
    .card3 {
        height: 600px;
    }
}

@media screen and (max-height: 667px){
    .seta_proximo, .seta_anterior{
        top: 45%;
        width: 3.5%;
        height: 65px;
        font-size: 12px;
        margin: 0 15px 0 15px;
    }


    .bolinhas_banner{
        top: 100%;
        left: 44%;
    }

    .card1 {
        height: 535px;
    }
    .card2 {
        height: 535px;
    }
    .card3 {
        height: 535px;
    }
}

@media screen and (max-height: 640px){
    
}

@media screen and (max-height: 780px){
    .seta_proximo, .seta_anterior{
        top: 45%;
        width: 3.5%;
        height: 65px;
        font-size: 12px;
        margin: 0 15px 0 15px;
    }

    .bolinhas_banner{
        top: 82%;
        left: 44%;
    }

}

@media screen and (max-height: 761px){

    .bolinhas_banner{
        top: 85%;
        left: 44%;
    }

}

