.fundo_form_login{
    background-color: #053C5E;
    width: 23%;
    height: 60vh;
    margin: 12vh auto;
    border-radius: 47px;
    display: flex;
    align-items: center ;
}

.form_login{
    /* background-color: aqua; */
    width: 100%;
    margin-top: 20vh;
}

.input_login{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.inputs_form{
    width: 80%;
	padding: 10px;
	border: none;
	margin-bottom: 12px;
	border-radius: 50px;
    background-color: #F3F3F3;
    font-family: 'Tomorrow', sans-serif;
}

.inputs_form:focus{
    outline: none;
}

.inputs_form_senha{
    width: 70%;
	padding: 10px;
	border: none;
	margin-bottom: 12px;
	border-radius: 50px 0 0 50px;
    background-color: #F3F3F3;
    font-family: 'Tomorrow', sans-serif;
}

.olho_botao{
    width: 10%;
	padding: 10px;
	border: none;
	margin-bottom: 12px;
	border-radius: 0 50px 50px 0;
    background-color: #F3F3F3;
    color: #053C5E;
}

.inputs_form_senha:focus{
    outline:none
}
.posicionamento_redirecionamento{
    display: flex;
    justify-content: center;
}
.redirecionamento{
    color: white;
    font-family: 'Tomorrow', sans-serif ;
    font-size: 14px;
    margin-top: 15px;
}

.redirecionamento > a{
    color: #EF233C;
    font-family: 'Tomorrow', sans-serif ;
    font-size: 14px;
}

.redirecionamento > a:hover{
    text-decoration: underline;
}

.posicionamento_btn{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.btn{
    width: 45%;
    height: 4.7vh;
	padding: 10px;
	border: none;
	margin-bottom: 12px;
	border-radius: 16px;
    background-color: #EF233C;
    color: white;
    font-size: 22px;
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width: 1536px){
    .redirecionamento{
        font-size: 11px;
        margin-top: 15px;
    }
    
    .redirecionamento > a{
        font-size: 11px;
    }
}

@media screen and (max-width: 1440px){
    .olho_botao{
        width: 15%;
    }

    .inputs_form_senha{
        width: 65%;
    }
}

@media screen and (max-width: 1366px){
    .btn{
        height: 5;
        font-size: 18px;
    }
}

@media screen and (max-width: 1280px){
    .btn{
        font-size: 16px;
    }
}

@media screen and (max-width: 414px){
    .fundo_form_login{
        width: 75%;
    }
}
